#preperations

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
dir = '/content/drive/MyDrive/projects/amirim/VI_values/07.22/'
file = '07_22_cera_3.csv'
path = dir+file

# If just needed to remove "b" from band column:

In [ ]:
#in order to fix the not needed "b":
dir = '/content/drive/MyDrive/projects/amirim/reflectance_values/10.22/orgenized/'
file = '05_22_pine_1.csv'
path = dir+file

In [ ]:
data = pd.read_csv(path)
data

,band,wavelength,mean,stdev,stdev/mean,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,b1,398.080,0.088999,0.062755,0.705123,NaN,NaN,NaN
1,b2,400.292,0.055968,0.041414,0.739952,NaN,NaN,average stdev/mean
2,b3,402.503,0.044797,0.037093,0.828037,NaN,NaN,0.257748363
3,b4,404.715,0.055483,0.033532,0.604373,NaN,NaN,NaN
4,b5,406.927,0.054939,0.037092,0.675149,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,band,NaN,0.000000,NaN,NaN,NaN,NaN,NaN

In [ ]:
#data ['band'] = data['Unnamed: 0']
data['band'] = data['band'].str.slice(start=1)
data

,band,wavelength,mean,stdev,stdev/mean,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1,398.080,0.088999,0.062755,0.705123,NaN,NaN,NaN
1,2,400.292,0.055968,0.041414,0.739952,NaN,NaN,average stdev/mean
2,3,402.503,0.044797,0.037093,0.828037,NaN,NaN,0.257748363
3,4,404.715,0.055483,0.033532,0.604373,NaN,NaN,NaN
4,5,406.927,0.054939,0.037092,0.675149,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,and,NaN,0.000000,NaN,NaN,NaN,NaN,NaN

In [ ]:
data = data.set_index('band')
data

,wavelength,mean,stdev,stdev/mean,Unnamed: 5,Unnamed: 6,Unnamed: 7
band,,,,,,,
1,398.080,0.088999,0.062755,0.705123,NaN,NaN,NaN
2,400.292,0.055968,0.041414,0.739952,NaN,NaN,average stdev/mean
3,402.503,0.044797,0.037093,0.828037,NaN,NaN,0.257748363
4,404.715,0.055483,0.033532,0.604373,NaN,NaN,NaN
5,406.927,0.054939,0.037092,0.675149,NaN,NaN,NaN
...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
and,NaN,0.000000,NaN,NaN,NaN,NaN,NaN

In [ ]:
lst = ['Unnamed: 0']
for i in lst:
  data = data.drop (i, axis = 1)
data

      wavelength      mean     stdev  stdev/mean
band
1        398.080  0.007698  0.033474    4.348575
2        400.292  0.004432  0.016122    3.637669
3        402.503  0.003030  0.011070    3.653318
4        404.715  0.003532  0.013769    3.898902
5        406.927  0.003071  0.010843    3.530337
...          ...       ...       ...         ...
270      993.069  0.029467  0.068732    2.332481
271      995.281  0.032171  0.075126    2.335232
272      997.493  0.032683  0.076188    2.331147
273      999.705  0.032697  0.076528    2.340482
274     1001.920  0.033317  0.077835    2.336207

[274 rows x 4 columns]

In [ ]:
data.to_csv(path)

##the column of the wavelength:

In [ ]:
wavelength_file = '/content/drive/MyDrive/projects/amirim/values/wavelength.csv'
wavelength_data = pd.read_csv(wavelength_file)
wavelength_col = wavelength_data['wavelength']
wavelength_col

FileNotFoundError: ignored

# make the table:

read the file:

In [23]:
data = pd.read_csv(path)
data

,id,_b1_mean,_b1_median,_b1_stdev,_b1_min,_b1_max,_b2_mean,_b2_median,_b2_stdev,_b2_min,...,_b273_mean,_b273_medi,_b273_stde,_b273_min,_b273_max,_b274_mean,_b274_medi,_b274_stde,_b274_min,_b274_max
0,0,0.04278,0.038656,0.028648,5.365000e-12,0.343603,0.046715,0.041006,0.05231,7.250000e-12,...,0.26352,0.265468,0.065115,0.029566,0.539933,0.270571,0.272063,0.067357,0.021051,0.521658

transpose the table:

In [24]:
data = data.T

remove unnecessarry row:

In [25]:
if 'id' in data.index:
  data.drop ('id', inplace = True)

add column for the names of the bands and split in into 2:

In [30]:
data['long_name'] = data.index
data['long_name'] = data['long_name'].str.slice(start=1)
data[['band','stat']] = data.long_name.str.split("_",expand=True)

make the "band" column to integers:

In [32]:
data['band'] = data['band'].str.slice(start=1)
data = data.astype({'band':'int'})

now we fix the names of the categories that sliced in the extraction:

In [40]:
num = 0
for word in data['stat']:
  if word == 'stde':
    data['stat'].iloc[num] = 'stdev'
  if word == 'medi' or word == 'media':
    data['stat'].iloc[num] = 'median'
  num += 1

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

now we sort the table by names of the categories and the bands:

In [43]:
data = data.sort_values(['stat','band'])

now we can set the bands as the index:

In [47]:
data = data.set_index('band')

lets create all the needed columns and transfer the data in:

In [49]:
list = ['wavelength','mean','stdev','stdev/mean','stdev','median','min','max']
for i in list:
  data[i] = 0

In [ ]:
#its a better idea and i should think about it
###data['mean'].iloc[0:274] = data[data['stat']=='mean']

In [51]:
data['max'].iloc[0:274] = (data[0].iloc[0:274])
data['mean'].iloc[0:274] = data[0].iloc[274:548]
data['median'].iloc[0:274] = data[0].iloc[548:822]
data['min'].iloc[0:274] = data[0].iloc[822:1096]
data['stdev'].iloc[0:274] = data[0].iloc[1096:1370]
data['wavelength'].iloc[0:274] = wavelength_col[0:274]
data['stdev/mean'] = data['stdev'] / data['mean']

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

NameError: ignored

lets drop unnecessary columns and rows:

In [ ]:
lst = ['long_name','stat',0]
for i in lst:
  data = data.drop (i, axis = 1)

In [ ]:
final_data = data[0:274]
print (file)
print (final_data)

05_22_pist_6.csv
      wavelength  mean  stdev  stdev/mean  median  min  max
band
1        398.080   NaN    NaN         NaN     NaN  NaN  NaN
2        400.292   NaN    NaN         NaN     NaN  NaN  NaN
3        402.503   NaN    NaN         NaN     NaN  NaN  NaN
4        404.715   NaN    NaN         NaN     NaN  NaN  NaN
5        406.927   NaN    NaN         NaN     NaN  NaN  NaN
...          ...   ...    ...         ...     ...  ...  ...
270      993.069   NaN    NaN         NaN     NaN  NaN  NaN
271      995.281   NaN    NaN         NaN     NaN  NaN  NaN
272      997.493   NaN    NaN         NaN     NaN  NaN  NaN
273      999.705   NaN    NaN         NaN     NaN  NaN  NaN
274     1001.920   NaN    NaN         NaN     NaN  NaN  NaN

[274 rows x 7 columns]

# writing back into the file:

In [ ]:
orgenized = '/content/drive/MyDrive/projects/amirim/values/10.22/orgenized/'
#final_data.to_csv(orgenized+file)